@-moz-document domain("coda.io") {
/*loading page*/
.document_splash_screen--title--ipt76dGq {
    border-bottom: 1px solid #555;
}
body {
    background: #151414;
}

/*home page*/
.document_splash_screen--title--ipt76dGq,
.document_initializing--background--anR2WV5-,
.header-bar--header--2tg4Jzi5,
.viewport--viewport--2LXbH4cN,
.suggestions--root--3R2hRcgq {
    background-color: #151414;
    border-color: #555;
    color: #bbb;
}
.new-document-button--menuItem--3g_N4Ijf {
    background-color: #151414;
    color: #bbb;
}
.new-document-button--menuItem--3g_N4Ijf:hover {
    background-color: #21211f;
}
.user-menu--container--1ub1_m6p.user-menu--active--ow-zEvBk {
    background-color: #151414;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, .3);
}
.doc-list--search--lSK_IsWN {
    background-color: #151414;
}

/*user settings popout(s)*/
.user-menu--logoutLink--qHtEluFV {
    color: #bbb;
}
.user-menu--headerContent--uI2nLnLo.user-menu--active--ow-zEvBk {
    border-bottom-color: #555;
    color: #bbb;
}
.dialog_view--content--3dJHtSRs,
.button_view--default--1xFh4cko,
.button_view--secondary--T6atdVWg {
    background-color: #151414;
    color: #bbb;
    border-color: #555;
    border-radius: 5px;
}
.dialog_view--screen--3Tdcp9Jt {
    background: hsla(50, 50%, 0%, 0.9);
}

/*Documents view*/

/*title bar & tool bar*/
.title_bar--root--KjDBqrRl,
.title_bar--root--KjDBqrRl div,
.canvas_ranges_editor--root--1O0sYyVL,
.document--toolbarContainer--2y3u4pHM,
.document--docContents--1tDXnf7l {
    background-color: #151414;
    color: #bbb;
    border-color: #555;
}
.title_bar--root--KjDBqrRl div a {
    border-color: #555;
    width: 30px;
}
.toolbar_item--root--2F5kZaN4.toolbar_item--disabled--2bgrT9rV,
.toolbar_item--root--2F5kZaN4,
.toolbar_item--root--2F5kZaN4.toolbar_item--active--3RPwFNjo {
    background-color: #050509;
    color: #51514e;
    border-radius: 5px;
}
.section_toolbar--root--z2SqCbUq .section_toolbar--groupDivider--B8z8pnhu {
    background-color: #333;
}

/*welcome*/
.kr-editable.canvas_ranges_editor--root--1O0sYyVL {
    color: #2c8086;
}

/*To Do List*/
.kr-line.kr-h1 {
    color: #f3c51c;
}
.grid--hideRowNumbers--36nqkIEO {
    background-color: transparent;
}
.grid--header--PDEW5JuE,
.grid--header--PDEW5JuE div,
.grid_values--gridValues--3E4Hyrnv {
    background-color: #151414;
    color: #ccc;
}
.row_menu_host--popover--2wQjK0GJ,
.row_menu--root--1_oKs-Y8 .row_menu--item--37Akg3sO,
.row_handle--grabberBox--2-HO4f1O.row_handle--ghosted--_HcXbHes {
    background: #151414;
    border-color: #555;
    color: #bbb;
}
.row_menu_host--popover--2wQjK0GJ hr {
    border-color: #555;
}
.row_handle--rowHandleSelectedBackground--1TLSusxX {
    background-color: transparent;
}
.row_handle--rowHandleOpaqueBackground--3WvQswGM {
    background-color: #151414;
}
.row_handle--grabberBoxBackgroundColoring--1M7hKHh_ {
    background: #555;
}

/*cards area*/
.card_gallery_container_view--root--2vvdrCoZ,
.card_gallery_container_view--header--2CLSa0gy,
.canvas_section--sectionViewport--3bg0h0M0.scroll_container--scrollClass--1l519wyf {
    background-color: #151414;
    /*color: #bbb;*/
}
.grid_cards_view--border--5kxeBI3l {
    border: 1px solid #555;
}

/*left rail view*/
.left_rail_view--resizerContainerCollapsed--2PX_DtNY,
.left_rail_view--root--21r3Zn9y,
.add_section_button--addButtonContainer--3ZoezOov {
    background-color: #151414;
    color: #bbb;
    border-right: 1px solid #555;
}
.left_rail_search_box--searchBar--3OQfFXpC {
    background-color: #15141459;
    color: #bbb;
    /*border: 1px solid #555;*/
}
.section_list_item--root--1RhaukoO:hover .section_list_item--actionMenu--PAIgpbKG {
    background-color: transparent;
}

/*right rail view*/
.right_rail_view--collapsed--1DHDp9Id,
.right_rail_view--expanded--1F8tqdwn {
    background-color: #151414;
    color: #bbb;
    border-left: 1px solid #555;
}
.grid_title--title--2kGaCBGJ,
.card_header--cell--11tdlG_-,
.group_row_counts--root--14jtd2VS {
    color: #999;
}

/*help button*/
.help_panel--collapsed--3WnYacY6 {
    background-color: #21211f
}

/*Card Titles*/
.card_view--root--1ItV2NTu .card_view--body--3r-yDqs2 .card_view--cardElement--3bUFHCvK .card_view--text--2eLEAzPv {
    /*overflow: auto !important;*/
    overflow-wrap: break-word !important;
    white-space: normal !important;
}
.card_view--root--1ItV2NTu .card_view--body--3r-yDqs2 .card_view--cardElement--3bUFHCvK .card_view--title--1hvqEZnV {
    height: 30%;
}

/*expanded card*/
.row_detail_modal--commentPost--15UZaH78,
.comment_editor--editBox--3A-OUjA1,
.row_detail_modal--prevNextRow--3iLZmLrn,
.row_detail_modal--prevNextRow--3iLZmLrn span {
    background-color: #151414;
    color: #bbb;
    border-color: #555;
}

/*Notes & Links*/
.card_view--root--1ItV2NTu .card_view--body--3r-yDqs2 .card_view--cardElement--3bUFHCvK .card_view--labelName--3IzfXqPC {
    height: 15px;
    color: #000236;
}

/*insert hyperlink popup*/
.autocomplete_plain_text_input_view--list--3JT_d_Xj {
    border-color: #555;
}
.insert_embedded_object_builder_overlay--popover--w7B1t0LX,
.list_view--root--MixoyJiz {
    background-color: #151414;
    color: #bbb;
}
.hyperlink_builder_view--suggestionItem--2SyEZ4zt {
    color: #bbb;
}

/*Share dialog*/
.sharing_dialog_view--root--191ueTuG {
    background-color: #151414;
    color: #bbb;
}
.sharing_dialog_view--body--1-JsWJG4 {
    border-top: 1px solid #555;
}
.sharing_dialog_view--collaboratorsContainer--3JIQj2ML:after {
    background: linear-gradient(180deg, #21211f 0, transparent 10px), linear-gradient(0deg, #21211f 0, transparent 10px);
}

/*notifications*/
.title_account_menu--menuItem--2lKzikZY {
    background-color: #151414;
}
.mentions_panel--scrollContainerParent--1e7cLxhE:after {
    background: linear-gradient(180deg, #30302e 0, transparent 10px), linear-gradient(0deg, #30302e 0, transparent 10px);
}

/*add_comment dialog*/
.comment_thread_reply_view--root--2fTuMXPs,
.menu--menu--3jaO6ehl {
    background-color: #151414;
    color: #bbb;
}
.button_view--menuItem--pTxKux7c {
    color: #bbb;
}

/*emoji menu*/
.emoji-mart,
.emoji-mart *,
.emoji-mart-category-label span {
    background-color: #151414;
}
.emoji-mart-search {
    border-bottom: 2px solid #555 !important;
}
}