@-moz-document domain("kennesaw.view.usg.edu") {
/*D2L*/

/***** LOGIN PAGE ITEMS******/
.d2l-login-portal-bordered {
    background-color: rgba(254, 188, 17, 0.78) !important;
    border-radius: 3px;
    border: 1px solid #291F07;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    padding: 5px 20px !important;
    max-width: 700px !important;
    margin-right: 60px;
    width: 340px;
}
div > #formId > div {
    padding: 5px 15px 0px 15px !important;
}
.vui-button,
.vui-button.vui-disabled:hover,
.vui-button.vui-disabled:focus,
.vui-button[disabled]:hover,
.vui-button[disabled]:focus {
    border-color: #FEBC11 !important;
    background: #2f2f2f !important;
    box-shadow: 0 1px 0 0 #febc11 inset !important;
}
.vui-button {
    margin: 0.15em 0.3em 0.15em 0;
    background-color: #21211F !important;
}
.vui-button-primary:hover,
.vui-button-primary:focus {
    border-color: #FEBC11;
}
.vui-button-primary,
.vui-button-primary.vui-disabled:hover,
.vui-button-primary.vui-disabled:focus,
.vui-button-primary[disabled]:hover,
.vui-button-primary[disabled]:focus {
    background: #FEBC11;
    border-color: #FEBC11;
    box-shadow: 0 1px 0 0 transparent inset;
}
.vui-list > .vui-selected {
    background-color: /*#616161*/
    #151414 !important;
}
.vui-input,
.vui-input[type=text],
.vui-input[type=url],
.vui-input[type=email],
.vui-input[type=password] {
    border: 1px solid #000;
    background-color: #21211f;
    box-shadow: 0 1px 1px 0 #2f2f2f inset;
    color: white;
}
.d2l-edit:focus,
.d2l-longedit:focus {
    border-color: #FEBC11;
    box-shadow: inset 0 1px 1px 0 transparent, 0 0 5px 0 transparent;
}
form#formId {
    background-color: #2F2F2F;
}
.d2l-field {
    color: #FFF !important;
    display: block;
    padding-bottom: 4px !important;
    text-align: left;
    letter-spacing: 0.5px !important;
    text-shadow: 0px 1px 0px #171000 !important;
    font-weight: bold !important;
}
.d2l-fieldgroup > li {
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.d2l_1_5_764 {
    margin: 10px 12px !important;
    padding-bottom: 5px !important;
}
#portalNavbar div.d_nb_cFull {
    background-color: #151414 !important;
    border-bottom: 0px solid transparent !important;
}
#portalNavbar div.d_nb_cGlobal {
    background-color: #000000;
    border-bottom: 3px solid #febc11;
}
.d2l-page-main.d2l-max-width {
    background-color: #2F2F2F;
}
.d2l-background-right > div > div {
    background-color: #151414 !important;
}
.d2l-background-left > div > div {
    background-color: #151414 !important;
}
img.d2l-navbar-image.d2l-navbar-image-left {
    -moz-box-sizing: border-box;
    background: url(https://i.imgur.com/o5ILlUq.png) no-repeat !important;
    width: 0px !important;
    height: 0px !important;
    padding-left: 267px !important;
    padding-top: 67px !important;
}
div .d2l-container-icon.d2l_1_99_657.d2l_1_100_211 {
    background: #2f2f2f;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.d2l-form-balloon-children {
    width: 200px;
    background-color: #2f2f2f;
    border: 1px solid #f70303;
    border-radius: 3px;
    cursor: default;
    padding: 4px;
    position: absolute;
}

/*You've Been Away popup*/
.d2l-shim-opaque {
    background-color: #151414;
}

/****  MAIN PAGES   ***/

/*.d2l-navbar-container
{
    background-color:#151414 !important;
}*/
html body#d2l_body.vui-typography.dbd_frame div#d_content.d2l-page-main div#d_content_inner div#d_content_r_c1 div#d_content_r_c2 div#d_content_r div#d_content_r_p form#d2l_form div div#z_a.dco {
    background-color: #2F2F2F;
}
body {
    background-color: #21211f !important;
}
a.vui-link {
    color: #FEBC11 !important;
    /*background-color: #3f3f3f;*/
}
.vui-link,
.vui-link:visited {
    color: #FBCB50 !important;
    text-decoration: none;
    cursor: pointer;
}
.d2l-widget-content,
.d2l-widget-header.d2l-widget-header-clickable {
    background-color: #151414;
}
.d2l-msg-container {
    background-color: #2F2F2F;
    border: 0px solid transparent;
}
.d2l-msg-container-inner,
.d2l-action-buttons-list,
.d2l-page-main {
    background-color: #21211f;
    border: #2F2F2F
}
.vui-input.d2l-select.d2l_1_107_723 {
    background-color: #3f3f3f;
    color: white !important;
}
select.vui-input option {
    color: #fff;
    font-style: normal;
    font-weight: 400;
}
.d2l-rowshadeonhover-selected,
.d2l_2_5_80
/*# unread discussions on home*/
{
    background-color: #3f3f3f;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    color: #bbb !important;
}
.d2l-textblock-strong {
    color: #fff !important;
}
.d2l-body {
    background-color: #151414 !important;
}
.d2l-htmlblock a {
    color: #FEBC11 !important;
}
.d2l-htmlblock a:visited {
    color: #FBCB50;
}
#d2l_navbar div.d_nb_cFull {
    background-color: #151414;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    border-bottom: 3px double #000000;
    padding: 0px;
    height: 130px;
}
#d2l_navbar .d2l-navbar-title {
    font-size: 1.15em;
    margin-left: -15px;
}
.d2l-collapsepane-header {
    background-color: #151414 !important;
}
.d2l-menuflyout.d2l-menuflyout-open .d2l-menuflyout-text,
.d2l-menuflyout-open .d2l-menuflyout-link-link {
    color: #FFFFFF !important;
}
.d2l-menuflyout-link.d2l-menuflyout-open .d2l-menuflyout-link-link {
    background-color: /*#616161*/
    #151414;
}
.d2l-menuflyout.d2l-menuflyout-open .d2l-menuflyout-opener {
    background-color: /*#616161*/
    #151414 !important;
}
.d2l-menuflyout-open .d2l-menuflyout-contents {
    background-color: /*#616161*/
    #151414;
}
.d2l-datalist-style1 > .d2l-datalist .d2l-datalist-item-content {
    background-color: #151414;
}
.d2l-datalist-style1 > .d2l-datalist > .d2l-datalist-item-active > .d2l-datalist-item-content {
    background-color: #525252;
}
.d2l-datalist-item-content > .d2l-inline > div {
    background-color: #3D3E58;
}

/*div .d2l-placeholder.d2l-placeholder-inner.d2l-placeholder-live div div .d2l-datalist.vui-list > li  >  .d2l-datalist-item-content > div div 
{
	background: #151414;   
    border: 0.5px solid #febc11;
}*/
.d3l-collapsepane-content,
.d2l-collapsepane-content {
    background: #151414;
}
ul .d2l-list a.vui-link.d2l-link {
    color: #bbb !important;
}

/*Submit files fix*/
td.dcs_c {
    border-top: 1px solid #151414;
    background: #5e3838;
}
.d2l-form-primary {
    background: #151414;
}

/*Collapse pane*/
div .d2l-page-collapsepane-content,
div .vui-accordion-header,
div .vui-accordion-content {
    background-color: #2f2f2f;
    border: 1px solid #222;
}
div .d2l-page-collapsepane-content-inner.d2l-scrollbar {
    background-color: #2f2f2f;
    border: 1px solid #222;
    border-left: none;
}
div .vui-accordion-header div div div,
div .vui-accordion-content div div div {
    background-color: #2f2f2f;
    border: none;
}
div .vui-accordion-header div div,
div .vui-accordion-content div div {
    background-color: #2f2f2f;
    border: none;
}
p > span > span {
    background-color: #000000 !important;
}
.d2l-page-main-padding {
    background-color: #151414;
    color: white !important;
}
table.d_g {
    background-color: #151414;
}
.d2l-page-bg > div {
    background-color: #151414;
}
table.d_g tr th.d_gl {
    background-color: /*#616161*/
    #151414;
}
table.d_gl tr th.d_hch {
    background-color: /*#616161*/
    #151414;
}
.d2l-action-buttons-item > a {
    color: #000000 !important;
    background-color: #DCDCDC !important;
}
.d2l-page-header-dark {
    background-color: #2f2f2f;
    border-bottom: 1px solid #febc11;
}
.d2l-column-flip-side {
    background-color: #000000 !important;
}
.d2l-column-side-bg {
    background-color: #000000 !important;
}
.d2l-column-flip-main {
    background: #2F2F2F !important;
}
.d2l-editable-padding > .d2l-textblock {
    color: #000000 !important;
}
.d2l-contextmenu {
    background-color: #2f2f2f;
    background-image: none;
}
.d2l-contextmenu-item a {
    background-color: #2f2f2f;
}
.d2l-contextmenu-ph-hover {
    background-image: linear-gradient(-179deg, #21211f 0%, #21211f 100%);
    border: 1px solid #666666;
    border-radius: 3px;
    box-shadow: inset 0px 2px 0px 0px #21211f;
}
ul.dcm li,
a.dcm,
a.dcm:link,
a.dcm:visited {
    background-color: #2f2f2f;
}
.d2l-datalist-style1 > .d2l-datalist > .d2l-datalist-item-selected > .d2l-datalist-item-content {
    background-color: #AFADA6;
}
.d2l-datalist-style1 > .d2l-datalist > .d2l-datalist-item-selected {
    background-color: #AFADA6;
}
.d2l-multiselect .d2l-multiselect-choice {
    background: #000000;
}
.d2l-fileinput-add {
    background-color: #2f2f2f;
}
.d2l-htmlblock > p > span {
    background-color: #000000 !important;
}
.drt > p > span {
    background-color: #000000 !important;
}
.d2l-datalist-style1 > .d2l-datalist > .d2l-datalist-item-active.d2l-datalist-item-selected {
    background-color: /*#616161*/
    #151414 !important;
}
.d2l-datalist-style1 > .d2l-datalist > .d2l-datalist-item-active.d2l-datalist-item-selected > .d2l-datalist-item-content {
    background-color: /*#616161*/
    #151414;
}
.d2l-messagearea-errors .d2l-msg-container-inner {
    border-color: #862810;
    background-color: #862810;
}
.d2l-datalist-nesteditem-accordion .d2l-datalist-nesteditem-accordion > .d2l-datalist-item-content,
.d2l-le-TreeAccordionItem-SelectedRoot a > div,
.d2l-le-TreeAccordionItem-SelectedRoot li > div > div {
    background: /*#616161*/
    #151414;
}
div.ddial_o {
    background-color: #2f2f2f;
}
.ddial_t,
.dpopup_t {
    background: #2f2f2f !important;
}
.ddial_f,
.dpopup_f {
    background-color: #2f2f2f;
}
body.dbd_dialog div#d_content_l,
body.dbd_dialog div#d_content_lw {
    background-color: /*#616161*/
    #151414 !important;
}
ul.dtb_ul > li > a.dtbi_sel,
ul.dtb_ul > li > div.dtbi_sel,
ul.datb_ul > li > a.dtbi_sel,
ul.datb_ul > li > div.dtbi_sel {
    background-color: #A5A5A5 !important;
}
ul.dtb_ul li a:hover,
ul.datb_ul li a:hover,
ul.dtb_ul li a:active,
ul.datb_ul li a:active,
ul.dtb_ul li a:focus,
ul.datb_ul li a:focus {
    background-color: #808080 !important;
}
.D2LField_Modified {
    background-color: /*#616161*/
    #151414;
}
table.d_g tr.d_ga {
    background-color: /*#616161*/
    #151414 !important;
}
.d2l-panel {
    background-color: /*#616161*/
    #151414;
}

/*** LIBRARY INFO CONTAINER  ***/
html ul.tabs li.active,
html ul.tabs li.active a:hover,
html ul.tabs li.active a {
    background: /*#616161*/
    #151414;
}
ul.tabs li a:hover {
    background: #febc11;
}
.tab_container {
    background: #2f2f2f;
}
.tab_content > div {
    background: #2f2f2f !important;
}
ul.tabs li a {
    background: #2f2f2f;
    color: #febc11;
}
div.dco {
    background-color: transparent;
}
div.dco div.dco_c,
div.dco_f div.dco_c {
    background-color: transparent !important;
}
table.d_gl tr.d_ggl1,
table.d_gn tr.d_ggl1 {
    background-color: #000;
}
table.d_gl tr.d_ggl2,
table.d_gn tr.d_ggl2 {
    background-color: #151414;
}
.ddl_c > ul > li {
    background-color: #2f2f2f !important;
}
.d2l-fileviewer > div {
    background-color: /*#616161*/
    #151414;
}

/*** CONTENT PAGE  ***/
.d2l-twopanelselector-wrapper {
    background-color: #2f2f2f;
}
.d2l-twopanelselector-padding {
    background-color: #151414;
}
.d2l-datalist-nesteditem-accordion,
.d2l-le-TreeAccordionItem-wrapper {
    background: /*#616161*/
    #151414;
    /*Unselected Content Label*/;
}
.d2l-dialog-inline-body-alert {
    background-color: #2f2f2f;
}
.d2l-le-TreeAccordionItem-wrapper div div div div div {
    border: 1px solid #21211f;
    background-color: #21211f;
    border-radius: .4em;
}
.d2l-le-TreeAccordionItem-wrapper div div div .d2l-inline .d2l-textblock {
    margin-left: 4px;
    margin-top: 0px;
}
.d2l-datalist > .d2l-datalist-nesteditem-accordion .d2l-datalist > .d2l-datalist-nesteditem-accordion.d2l-le-DataListItem-Selected > .d2l-datalist-item-content.d2l-datalist-item-content-first,
.d2l-le-TreeAccordionItem-Selected > a > div {
    background: /*Selected Content Label*/
    #febc11;
}
.d2l-datalist > .d2l-datalist-nesteditem-accordion .d2l-datalist > .d2l-datalist-nesteditem-accordion.d2l-datalist-item-active > .d2l-datalist-item-content,
.d2l-le-TreeAccordionItem-Active > a > div {
    background: #2f2f2f;
}
.d2l-right > div > .d2l-textblock.d2l-textblock-strong {
    color: black !important;
}
.d2l-right > div > div > .d2l-textblock.d2l-textblock-strong {
    color: black !important;
}
div > span.d2l-textblock.d2l-textblock-strong {
    color: /*percent complete*/
    white !important;
}
.d2l-left > .d2l-textblock.d2l-textblock-strong.d2l-left {
    color: /*white*/
    black !important;
}
table.d_gd tr.d_gd,
table.d_gl tr.d_gd {
    background-color: #252525;
}
.d2l_1_85_287 {
    background-color: #febc11;
}
.vui-tabmenu > .vui-tabmenu-item-select > a {
    background-color: #151414;
}
.d2l-documentViewer-tools {
    background: #21211f !important;
}

/***  DISCUSSIONS  ***/
.d2l-grid > thead > tr > .d2l-grid-cell-sel,
.d2l-grid-header-cell {
    background: #000000 !important;
}
.d2l-grid > tbody > tr {
    background-color: /*#616161*/
    #151414;
}
.d2l-le-disc-post {
    background-color: #2f2f2f;
}
.vui-moreless-blur {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, /*#616161*/
    #151414 100%) !important;
}

/***   Dropbox  ***/
table.d_gd tr {
    background-color: /*#616161*/
    #151414;
}
table.d_gd tr.d_ggl2 {
    background-color: #2f2f2f;
}
table.d_g tr th.d_gc {
    text-align: center;
    background-color: #151414;
}
.d2l-page-buttons.d2l-page-buttons-float,
.dba_b.d2l-page-buttons-float {
    background-color: rgba(47, 47, 47, 0.81);
}
.d2l-page-message {
    background: #21211f;
    border-color: #2f2f2f;
}

/***  MINI CALENDAR ***/
.d2l-calendar-mini {
    background-color: /*#616161*/
    #151414;
    color: white !important;
}
.d2l-calendar-mini-selected {
    background-color: #2f2f2f;
}
.d2l-calendar-mini-weekend {
    background-color: #2f2f2f;
}
.d2l-calendar-mini-day {
    color: #FFFFFF;
}
.d2l-calendar-mini-other {
    color: #D2CBB8;
}
.d2l-calendar-mini-event {
    color: #FFFDB5;
}
.d2l-calendar-mini-today {
    /*color: black !important;*/
    background-color: #5d8088 !important;
}

/*
div .d2l-placeholder .d2l-placeholder-live,
div .d2l-collapsepane-content
{
	background:#21211f;
    
}
*/
.vui-label {
    text-shadow: 0 1px 0 #000;
}
.d2l-htmleditor-header {
    background: #2f2f2f;
    border-bottom: 1px solid #bbb;
}
.d2l-htmleditor-footer {
    background: #2f2f2f;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

/*Buttons*/
user agent stylesheet input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input,
textarea,
select,
button,
select.vui-input,
.d2l-searchsimple-input-wrapper {
    /*align-items: flex-start;*/
    text-align: center;
    cursor: default;
    color: white;
    background-color: #21211F;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 1px solid #151414;
}
.d2l-searchsimple-input-container {
    color: white;
    background-color: #21211F;
    box-shadow: inset 0 1px 1px 0 #21211f;
    border: none;
}
.d2l-editable-padding > .d2l-textblock,
.d2l-editable-placeholder,
.d2l-editable {
    color: #ddd !important;
    background-color: #21211f;
}

/*Month Calendar */
.d2l-le-calendar-month {
    background: #2f2f2f;
}
th.d2l-le-calendar-weekend,
td.d2l-le-calendar-weekend {
    background: /*#616161*/
    #151414;
}
.d2l-le-calendar-month th {
    color: #ddd;
}
.d2l-le-calendar-today {
    background-color: #5d8088 !important;
}
.d2l-floating-container {
    background-color: #151414;
}

/* Dialog Popup*/
.d2l-dialog,
.d2l-dialog-inner,
.d2l-dialog-title,
div.d2l-dialog-padding div div,
.d2l-dialog-buttons {
    background: #2f2f2f;
    border: 1px solid #2f2f2f;
    box-shadow: inset 0 1px 0 0 #2f2f2f;
}
.d2l-dialog-padding {
    border: 1px solid #666666;
    background: #151414;
    border-bottom: none;
}
td.d_tl.d_tm.d_tn div {
    background: #151414;
}
td.d_gn.d_gr.d_gt div.dco div.dco_c div label {
    color: #777 !important;
}

/*Quiz hover on answer fixes*/
.d2l-rowshadeonhover:selected {
    background-color: #555;
}

/*Progress Summary*/
.d2l-datalist-nesteditem-accordion.d2l-datalist-nesteditem-accordion-open > .d2l-datalist-item-content.d2l-datalist-item-content-first {
    background: #151414;
}
.d2l-datalist-nesteditem-accordion:first-child {
    border-top: 1px solid #555;
}
.d2l-button-nml,
.d2l-button-nml:link {
    color: #bbb !important;
    background: #21211f !important;
    border-color: #555;
    box-shadow: inset 0 1px 0 0 #555;
}
.d2l-charttooltip/**/
,
.d2l-page-main-padding div/**/
{
    background-color: #151414;
}
.d2l-page-main-padding div/**/
{
    border-color: #21211f;
}

/*help popout*/
.d2l-popup-buttons {
    background-color: #151414;
}
.d2l-popup-title {
    background: #151414;
}
}

@-moz-document url-prefix("https://owlexpress.kennesaw.edu/prodban/") {
/*OwlExpress*/
BODY {
    background-color: #21211F;
    font-family: Verdana, Arial Narrow, helvetica, sans-serif;
    font-style: normal;
    text-align: left;
    margin-top: 0%;
    margin-left: 1%;
    margin-right: 2%;
    background-repeat: no-repeat;
}

/*Tabs*/
td.bgtabon {
    background-color: #febc11;
    /*background-image: url(); */
    /*modify white area to be transparent*/
}
td.bgtaboff,
td.taboff {
    /*background-image: url(); */
    /*modify white area to be transparent*/
    background-color: #21211f;
}

/*Black to grey text*/
BODY,
.taboff A:link,
.taboff A:visited,
DIV.headerlinksdiv2,
H2,
H5,
.releasetext,
.menulinkdesctext,
TABLE TD,
TABLE td.dddefault,
.infotext {
    color: #ddd;
}
.bg3 {
    BACKGROUND-COLOR: #FEBC11;
}

/*course schedule table header*/
TABLE TH.ddlabel {
    color: #000;
}

/*link text color*/
A:link {
    color: #990000eb;
}
}

@-moz-document url-prefix("https://owlexpress.kennesaw.edu/degreenav"), url-prefix("https://netid.kennesaw.edu") {
/*DegreeWorks*/
div#divnavigation,
.StudentContext,
.Inner,
.FieldTitle,
.ContextBackground,
.TabBody,
body,
.Blocks,
.ProgressTitle,
.GPABodyBackground,
.WaitingMessage,
.FrameBackground,
.FooterBackground,
.footer-login-message,
.footer-message,
.WhatIfLabel,
.WhatIfInput,
.WhatIfTitleData2,
.WhatIfRemove,
.LookAheadCaption {
    background: #21211f;
    color: #ddd;
}
.LookAheadLabel,
.LookAheadInput,
.LookAheadBackground {
    background-color: #21211f;
    color: #4182b4;
}
div.messageBoxComposite,
#messageBox a:LINK,
#messageBox a:VISITED {
    background: #21211f;
    color: #ddd;
}
.errortext {
    color: #4182b4;
    font-family: Verdana, Arial Narrow, helvetica, sans-serif;
    font-weight: bold;
    font-size: 90%;
    font-style: normal;
    text-align: left;
}
.WhatIfBlocks {
    background-color: #2f2f2f;
}
.LinkTableTitle {
    background-color: #2f2f2f;
    border-right: solid 1px #90A0AD;
}

/*Student Info section*/
.StuContextTable td,
.StuContextTable th {
    background-color: #21211f;
    color: #ddd;
}

/*Worksheets,Planner,GPA-Calc*/

/*active*/
#navigation .selected a,
#navigation .selected span,
.LookAheadHeadBorderDark,
.LookAheadTitle {
    background: #febc11;
    color: #000;
}

/*inactive*/
#navigation a span,
#navigation a {
    background: #2f2f2f;
    color: #ddd;
    border-radius: 5px;
}

/*both - borders*/
#navigation a,
#navigation .selected a {
    border-bottom: solid 2px #111
}

/*Worksheets,WhatIf,LookAhead*/
ul#verticalnav,
ul#verticalnav .selected a,
ul#verticalnav li a {
    background-color: #21211f;
}
ul#verticalnav a:hover {
    background-color: #2f2f2f;
}
input,
.DegInputTextDisplay,
select,
.DegInputSelectDisplay,
.DegInputSelect,
.StandardInputSelect,
.GPAInputText,
input.textField_std {
    background-color: #2f2f2f;
    color: #ddd;
    border-color: #000;
}
.WhatIfSelect {
    background-color: #2f2f2f;
    color: #4182b4;
    border-color: #000;
}

/*View, Save as PDF buttons*/
html > body .GeneralButton,
.button {
    background: #2f2f2f;
    border-color: #000;
    color: #4182b4;
}
html > body .GeneralButton:hover,
.button_hover {
    background: #3f3f3f;
}
.DisclaimerText {
    border-radius: 5px;
    background-color: #fee9dd;
}
.StuTableTitle {
    color: #4182b4;
    background-color: #2f2f2f;
    border: none;
}
.StuTableData {
    color: #000000;
    background-color: #a9a8a8;
    border: none;
    border-radius: 3px;
}
.ProgressTable {
    background-color: #555;
    border: solid 1px #4182b4;
}
.ProgressSubTitle {
    background-color: #2f2f2f;
    color: #4182b4;
    font-size: 9pt;
}
.BlockAdviceTable {
    background-color: #f59797;
}
.RuleLabelTitleNotNeeded,
.RuleLabelTitleNeeded,
.BlockAdviceTitle,
.BlockAdviceData {
    color: #333;
}

/*make links red*/
a {
    background: transparent;
    text-decoration: none;
    color: #990000eb;
}

/*Area Heddings*/
.BlockHeader,
.BlockHeadTitle,
.BlockHeadSubTitle,
.BlockHeadSubData {
    background: #febc11;
    color: #000;
    border-radius: 5px;
}

/*complete*/
.bgLight100 {
    background-color: #ecffe0;
}

/*not complete*/
.bgLight0 {
    background-color: #ffcccc;
}

/*registered*/
.bgLight98 {
    background-color: #E6F4FF;
}

/*alternating - completed courses table*/
table.xBlocks tbody tr.CourseAppliedRowWhite,
table.AuditTable tbody tr.CourseAppliedRowWhite {
    background-color: #444;
    color: #ddd;
}
table.xBlocks tbody tr.CourseAppliedRowAlt,
table.AuditTable tbody tr.CourseAppliedRowAlt {
    background-color: #2f2f2f;
    color: #ddd;
}

/*clean up table of completed courses*/
td.SectionTransferLine {
    text-align: center;
}
td.ClassesAppliedClasses,
td.SectionCourseCredits,
.SectionCourseTerm,
.SectionCourseGrade {
    text-align: center;
}
.SectionCourseTitle {
    width: 35%;
}
.SectionCourseCredits {
    width: 6%;
}
.SectionCourseTerm {
    width: 30%;
}
.GPAFormTitle,
.GPAFormTitle:hover,
.GPAFormTitle:visited {
    color: #4182b4;
}

/*Legend*/
.VertLegTitle {
    background-color: #febc11;
    border-radius: 5px;
}
.VertLegBox {
    background-color: #21211f;
    color: #ddd;
}

/*Scrollbars*/
::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}
::-webkit-scrollbar-thumb {
    background-color: #383838!important;
    border: 2px solid #484848!important;
    border-radius: 10px!important;
}
::-webkit-scrollbar-track {
    background-color: #2f2f2f!important;
}
::-webkit-scrollbar-thumb:hover {
    background: #282828!important;
}
::-webkit-scrollbar-thumb:active {
    background: #181818!important;
}
::-webkit-scrollbar-corner {
    background: #383838!important;
}
::-webkit-scrollbar-button {
    display: none;
}
}

@-moz-document domain("qprodmaint.view.usg.edu") {
/***D2L under maintenance page***/
html,
body,
th,
td {
    background: #2f2f2f;
    color: #ddd;
    border: none;
}
th,
td {
    background: #2f2f2f;
    color: #ddd;
    border: inset 1px #ddd;
    border: outset 1px #ddd;
}
img {
    background: url(https://i.imgur.com/jpSPFb4.jpg) no-repeat !important;
    /*filter: invert(15%);  https://i.imgur.com/o5ILlUq.png (ksu)
    https://imgur.com/uXcVoV8 georgia view
    */
}
}

@-moz-document domain("kennesaw.edu") {
/*registrar.kennesaw.edu*/
.page_wrapper,
.inner_rim.page {
    background: #21211f;
}
#banner.no_img {
    background: #2f2f2f;
    color: grey;
}
.mobile_calendar .date_block .date {
    background: #2f2f2f;
}
.table > li:nth-child(even) {
    background: #2f2f2f;
}
* {
    color: grey;
}
ul.table.table_responsified .title,
h1,
h2,
h3,
h4,
h5,
h6,
#banner .bread_crumb li {
    color: #eee;
}
.table_showhide_btn,
li.month,
#throne_room span {
    color: black;
}

/*kennesaw.edu homepage fixes*/
.outer_rim,
.home div#footer {
    background: #21211f;
}
.events .details,
.footer_columns ul,
.home #footer .footer_columns > div.contact_info,
.tie_advanced ul li a,
.tie_bomber {
    background: #2f2f2f;
}
.core_worlds li span {
    color: #007a95;
}
.home #footer .footer_columns > div h1,
#banner.static,
.tie_advanced h1,
.btn {
    background: #febc11;
}
span.month,
span.day,
.tie_advanced h1 {
    color: black;
}
.home #footer .footer_columns > div ul li a,
.tie_advanced ul li a,
.tie_bomber h2 {
    color: #eee;
}
}