@-moz-document domain("pushbullet.com") {
* {
    color: #bbb !important;
    background-color: #21211F !important;
}
.section p a {
    color: #3ba46d !important;
}
button {
    color: white !important;
    background: #3ba46d !important;
    border-radius: 5px;
}
button:hover {
    background-color: red !important;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 5px !important;
    transition: none;
}
div.text-part {
    border: 1px solid #3ba46d !important;
}
div.text-part a {
    color: #3d9494 !important;
}
.minitab.pointer div:nth-child(3) {
    border-right: 9px solid #3ba46d !important;
}
#button {
    background: #21211F;
    border: 1px solid #3ba46d;
}
#button:hover {
    background: #21211f;
    border: 1px solid #3ba46d;
}
#button.large i {
    width: 24px;
    height: 24px;
}
}